spring:
  datasource:
    url: jdbc:mysql://localhost:3306/boot?useSSL=false
    password: root
    username: root
    driver-class-name: com.mysql.jdbc.Driver
  session:
    store-type: none
module:
  security:
    code:
      image:
        length: 4
        width: 100
        height: 20
        url: /user/*
        expireIn: 60
    browser:
      loginType: REDIRECT
      loginPage: /andy-login.html
      rememberMeSeconds: 3600
    social:
      qq:
        app-id: xxx
        app-secret: xxx
        providerId: callback.do
      wx:
        app-id: wx056d93262f42bd10
        app-secret: 3rGQiBNcsuZ8Fxl9lfyQ74buvuPBtHDO
        userinfo-url: https://api.weixin.qq.com/sns/userinfo?openid=
        providerId: wexin
      filterProcessUrl: /qqLogin
